<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/partials.html :: head('Goal Details')"></head>
<body>
<nav th:replace="partials/partials.html :: nav"></nav>
<header th:replace="partials/partials.html :: header(${goal.title})"></header>
<main class="container">
    <div>
        <table>
            <tr>
                <td></td>
                <td><label class="form-label" for="dateCreated">Start Saving On:</label></td>
                <td><label class="form-label" for="endDate">Finish Saving By:</label></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td style="text-align: left;">
                    <p th:text="*{goal.dateCreated}" class="dateFormat text-align: left" id="dateCreated"></p>
                </td>
                <td>
                    <p th:text="*{goal.endDate}" class="dateFormat text-align: left" id="endDate"></p>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td><label class="form-label" for="goalAmount">Total to be Saved: $</label></td>
                <td>
                    <span th:text="${#numbers.formatDecimal(goal.goalAmount, 1, 'COMMA', 2, 'POINT')}" id="goalAmount" class="text-align: left"></span>
                </td>
                <td></td>
                <td>
                    <th:block sec:authorize="isAuthenticated()">
                        <div class="text-center" th:if="${#authentication.principal.id == goal.user.id}">
                            <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
                            <script type="text/javascript">
                                window.onload = function () {
                                    var currentAmount = [[${goal.currentAmount}]];
                                    var needToSave = [[${goal.goalAmount}]]-[[${goal.currentAmount}]]
                                    var chart = new CanvasJS.Chart("chartContainer", {
                                        animationEnabled: true,
                                        theme: "light2",
                                        axisY: {
                                            labelFormatter: function ([]) {
                                                return "$" + CanvasJS.formatNumber([].value, "#,#00");
                                            },
                                            includeZero: false
                                        },
                                        data: [
                                            {// Change type to "doughnut", "line", "splineArea", etc.
                                                type: "pie",
                                                dataPoints: [
                                                    {label: "Current Amount Saved", y: currentAmount},
                                                    {label: "Still Need to Save", y: needToSave}
                                                ]
                                            }
                                        ]
                                    });
                                    chart.render();
                                }
                            </script>
                        </div>
                    </th:block>
                    <div id="chartContainer" style="height: 300px; width: 100%;"></div>
                </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td ><label class="form-label" for="currentAmount">Prior Savings: $</label></td>
                <td>
                    <span th:text="${#numbers.formatDecimal(goal.currentAmount, 1, 'COMMA', 2, 'POINT')}" id="currentAmount" class="text-align: left"></span>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <!--            <tr>-->
            <!--                <td></td>-->
            <!--                <td><label class="form-label" for="curGoal">Current Savings Goal:></label></td>-->
            <!--                <td>-->
            <!--                    <p th:text="*{goal.curGoal}" onchange="calcule2()" id="curGoal" value="" size="8"-->
            <!--                       disabled="disabled"></p>-->
            <!--                </td>-->
            <!--                <td></td>-->
            <!--                <td></td>-->
            <!--                <td></td>-->
            <!--                <td></td>-->
            <!--                <td></td>-->
            <!--            </tr>-->
            <!--            <tr>-->
            <!--                <td></td>-->
            <!--                <td><label class="form-label" for="needSave">I still need to save:></label></td>-->
            <!--                <td><p th:field="*{needSave}" onchange="calcule2()" id="needSave" value="" size="8"-->
            <!--                       disabled="disabled"></p>-->
            <!--                </td>-->
            <!--                <td></td>-->
            <!--                <td></td>-->
            <!--                <td></td>-->
            <!--                <td></td>-->
            <!--                <td></td>-->
            <!--            </tr>-->
            <!--            <tr>-->
            <!--                <td></td>-->
            <!--                <td></td>-->
            <!--                <td></td>-->
            <!--                <td></td>-->
            <!--                <td></td>-->
            <!--                <td></td>-->
            <!--                <td></td>-->
            <!--                <td></td>-->
            <!--            </tr>-->
            <!--            <tr>-->
            <!--                <td></td>-->
            <!--                <td><h3>Savings Plan Details:></h3></td>-->
            <!--                <td></td>-->
            <!--                <td></td>-->
            <!--                <td></td>-->
            <!--                <td></td>-->
            <!--                <td></td>-->
            <!--                <td></td>-->
            <!--            </tr>-->
            <!--            <tr>-->
            <!--                <td></td>-->
            <!--                <td><h4 class="form-label" id="interval">Savings Interval></h4></td>-->
            <!--                <td><label class="form-label" for="daily">Daily></label></td>-->
            <!--                <td><label class="form-label" for="weekly">Weekly></label></td>-->
            <!--                <td><label class="form-label" for="biweekly">Bi-Weekly></label></td>-->
            <!--                <td><label class="form-label" for="monthly">Monthly></label></td>-->
            <!--                <td><label class="form-label" for="yearly">Yearly<></label></td>-->
            <!--                <td></td>-->
            <!--            </tr>-->
            <!--            <tr>-->

            <!--                <td></td>-->
            <!--                <td><h4 class="form-label" id="amount">Amount to save:<></h4></td>-->
            <!--                <td>-->
            <!--                    <input th:field="*{daily}" onchange="calcule2()" id="daily" value="" size="8" disabled="disabled">-->
            <!--                </td>-->
            <!--                <td>-->
            <!--                    <input th:field="*{weekly}" onchange="calcule2()" id="weekly" value="" size="8" disabled="disabled">-->
            <!--                </td>-->
            <!--                <td>-->
            <!--                    <input th:field="*{biweekly}" onchange="calcule2()" id="biweekly" value="" size="8"-->
            <!--                           disabled="disabled">-->
            <!--                </td>-->
            <!--                <td>-->
            <!--                    <input th:field="*{monthly}" onchange="calcule2()" id="monthly" value="" size="8"-->
            <!--                           disabled="disabled">-->
            <!--                </td>-->
            <!--                <td>-->
            <!--                    <input th:field="*{yearly}" onchange="calcule2()" id="yearly" value="" size="8" disabled="disabled">-->
            <!--                </td>-->
            <!--                <td></td>-->
            <!--            </tr>-->
            <!--            <tr>-->
            <!--                <td></td>-->
            <!--                <td><h4 class="form-label" id="time">Time Interval:></h4></td>-->
            <!--                <td><label class="form-label" for="days">Days></label></td>-->
            <!--                <td><label class="form-label" for="weeks">Weeks></label></td>-->
            <!--                <td><label class="form-label" for="biweeks">Bi-Weeks></label></td>-->
            <!--                <td><label class="form-label" for="months">Months></label></td>-->
            <!--                <td><label class="form-label" for="years">Years></label></td>-->
            <!--                <td></td>-->
            <!--            </tr>-->
            <!--            <tr>-->
            <!--                <td></td>-->
            <!--                <td><h4 class="form-label" id="left">Time until goal is reached:></h4></td>-->
            <!--                <td>-->
            <!--                    <input th:field="*{days}" onchange="calcule2()" id="days" value="300" size="8" disabled="disabled">-->
            <!--                </td>-->
            <!--                <td>-->
            <!--                    <input th:field="*{weeks}" onchange="calcule2()" id="weeks" value="42.8571428571429" size="8"-->
            <!--                           disabled="disabled">-->
            <!--                </td>-->
            <!--                <td>-->
            <!--                    <input th:field="*{biweeks}" onchange="calcule2()" id="biweeks" value="21" size="8"-->
            <!--                           disabled="disabled">-->
            <!--                </td>-->
            <!--                <td>-->
            <!--                    <input th:field="*{months}" onchange="calcule2()" id="months" value="9" size="8"-->
            <!--                           disabled="disabled">-->
            <!--                </td>-->
            <!--                <td>-->
            <!--                    <input th:field="*{years}" onchange="calcule2()" id="years" value="0" size="8" disabled="disabled">-->
            <!--                </td>-->
            <!--                <td></td>-->
            <!--            </tr>-->
            <!--            <tr>-->
            <!--                <td></td>-->
            <!--                <td></td>-->
            <!--                <td></td>-->
            <!--                <td></td>-->
            <!--                <td></td>-->
            <!--                <td></td>-->
            <!--                <td></td>-->
            <!--                <td></td>-->
            <!--            </tr>-->
        </table>
        <!--    <p class="text-center">Created by <span th:text="${goal.user.email}"></span></p>-->
        <th:block sec:authorize="isAuthenticated()">
            <div class="text-center" th:if="${#authentication.principal.id == goal.user.id}">
                <a class="btn btn-outline-dark rounded" th:href="@{/goals/{id}/edit(id=${goal.id})}"><i
                        class="bi bi-pencil"></i></a>
                <form class="d-inline" th:action="@{/goals/{id}/delete/(id=${goal.id})}" th:method="POST">
                    <button id="delete-post-btn" class="btn btn-outline-danger rounded"><i class="bi bi-trash"></i>
                    </button>
                </form>
            </div>
        </th:block>
    </div>
</main>
<th:block th:replace="partials/partials.html :: scripts"></th:block>
<script src="/jquery-3.6.0.js"></script>
<script type="text/javascript" src="/js/date.js"></script>
<script type="text/javascript" src="/js/parser.js"></script>
<script>

    $(".dateFormat").each(function(index,element){
        $(element).text(Date.parse($(element).text()).toString("MMM-dd-yy"))
    })

</script>
</body>
</html>


<!--fix delete and edit function buttons-->
