<!DOCTYPE html>
<html>
<head>
    <title>CanvasJS Chart jQuery Plugin</title>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
    <script type="text/javascript">
        $(function () {
//Better to construct options first and then pass it as a parameter
            var options = {
                data: [
                    {
                        type: "pie", //change it to column, spline, line, pie, etc
                        dataPoints: [
                            { y: 10 },
                            { y: 14 }

                        ]
                    }
                ]
            };

            $("#chartContainer").CanvasJSChart(options);


            $("#addDataPoint").click(function () {
                var chart = $("#chartContainer").CanvasJSChart();
                var length =chart.options.data[0] = {object}; chart.options.data[0].dataPoints.length;
                chart.options.data[0].dataPoints.push({ x: (length + 1) * 10, y: Math.round((30 - Math.random() * 10)) });
                chart.render();
            });
        });
    </script>
</head>
<body>
<div id="chartContainer" style="width:100%; height:280px;"></div>
<button id="addDataPoint" style="position:absolute;right:0px;margin-right:10px;">Add Data Point</button>
</body>
</html>







<!--<!DOCTYPE HTML>-->
<!--<html>-->
<!--<head>-->
<!--    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>-->
<!--    <script type="text/javascript">-->

<!--        window.onload = function () {-->
<!--            var chart = new CanvasJS.Chart("chartContainer", {-->
<!--                title:{-->
<!--                    text: "My First Chart in CanvasJS"-->
<!--                },-->
<!--                data: [-->
<!--                    {-->
<!--                        // Change type to "doughnut", "line", "splineArea", etc.-->
<!--                        type: "pie",-->
<!--                        dataPoints: [-->
<!--                            { label: "current",  y: 30  },-->
<!--                            { label: "need", y: 70  }-->

<!--                        ]-->
<!--                    }-->
<!--                ]-->
<!--            });-->
<!--            chart.render();-->
<!--        }-->
<!--    </script>-->
<!--</head>-->
<!--<body>-->
<!--<div id="chartContainer" style="height: 300px; width: 100%;"></div>-->
<!--</body>-->
<!--</html>-->




<!--<script>-->
<!--$script.ready(['CanvasJS'], function () {-->

<!--var chart = new CanvasJS.Chart("chartContainer", {-->
<!--theme: "light2",-->
<!--exportEnabled: true,-->
<!--animationEnabled: true,-->
<!--title: {-->
<!--text: "Goal Progress"-->
<!--},-->
<!--data: [{-->
<!--type: "pie",-->
<!--showInLegend: "true",-->
<!--legendText: "{label}",-->
<!--yValueFormatString: "#,###\"%\"",-->
<!--indexLabelFontSize: 16,-->
<!--indexLabel: "{label} - {y}",-->
<!--dataPoints: [-->
<!--{label: "Currently Saved", y: 30},-->
<!--{label: "Need to Save", y: 70}-->

<!--]-->
<!--}]-->
<!--});-->
<!--chart.render();-->

<!--});-->

<!--</script>-->
