<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/partials.html :: head('About Us')"></head>
<body>
<nav th:replace="partials/partials.html :: nav"></nav>
<header th:replace="partials/partials.html :: header('About the Team ')"></header>
<main class="container">
    <div class="row row-cols-1 row-cols-md-2 g-4 mb-4">
        <div class="col">
            <article class="card">
                <div class="card-body">
                    <img class="card-img" src="/img/Mark.jpeg"/>
                    <h5 class="card-title mt-2" >Mark Siebald</h5>
                    <p class="card-text">Mark 411</p>
                    <p class="card-text">more about Mark</p>
                </div>
            </article>
        </div>
        <div class="col">
            <article class="card">
                <div class="card-body">
                    <img class="card-img" src="/img/Chris.jpeg"/>
                    <h5 class="card-title mt-2">Christopher Merritt</h5>
                    <p class="card-text">Highly motivated and adaptive veteran, with a passion for problem solving. Trained in several base coding languages, with a drive to learn more.</p>
                    <p class="card-text">Languages used: HTML,JAVA,JQuery,JavaScript,SpringBoot,Bootstrap,CSS</p>
                    <a href="https://www.linkedin.com/in/merritt-christopher"><i class="fa-brands fa-linkedin"></i> LinkedIn</a>
                </div>
            </article>
        </div>

        <div class="col">
            <article class="card">
                <div class="card-body">
                <img class="card-img" src="/img/liniesha%20career%20photo.jpeg"/>
                    <h5 class="card-title mt-2">Lineisha Gibson</h5>
                    <p class="card-text"> my stuff</p>
                    <p class="card-text">more about me</p>
                </div>
            </article>
        </div>
        <div class="col">
            <article class="card">
                <div class="card-body">
                    <img class="card-img" src="/img/Jesse.jpeg"/>
                    <h5 class="card-title mt-2">Jesse Mammosser</h5>
                    <p class="card-text">Jesse 411</p>
                    <p class="card-text">more about Jesse</p>
                </div>
            </article>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/db7e223ec9.js" crossorigin="anonymous"></script>
    <th:block th:replace="partials/partials.html :: scripts"></th:block>
</main>
</body>
</html>
