<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/partials.html :: head('About Us')"></head>
<body>
<nav th:replace="partials/partials.html :: nav"></nav>
<header th:replace="partials/partials.html :: header('About the Team ')"></header>
<main class="container">
    <div class="row row-cols-1 row-cols-md-4 g-4 mb-4">
        <div class="col">
            <article class="card">
                <div class="card-body">
                    <img class="card-img" src="/img/Mark.jpeg"/>
                    <h5 class="card-title mt-2"><strong>   Mark Siebald </strong> </h5>
                    <a href="https://www.linkedin.com/in/marksiebald"><i class="fa-brands fa-linkedin"></i> LinkedIn</a>
                    <a class="fa-brands fa-github" href="https://github.com/SiebaldMark93"><i ></i>GitHub </a>
                </div>
            </article>
        </div>
        <div class="col">
            <article class="card">
                <div class="card-body">
                    <img class="card-img" src="/img/Chris.jpeg"/>
                    <h5 class="card-title mt-2"><strong>Christopher Merritt</strong> </h5>
                    <a href="https://www.linkedin.com/in/merritt-christopher"><i class="fa-brands fa-linkedin"></i> LinkedIn</a>
                    <a class="fa-brands fa-github" href="https://github.com/Chrismerritt91"><i ></i>GitHub </a>
                </div>
            </article>
        </div>

        <div class="col">
            <article class="card">
                <div class="card-body">
                    <img class="card-img" src="/img/liniesha%20career%20photo.jpeg"/>
                    <h5 class="card-title mt-2"><strong>Lineisha Gibson</strong></h5>
                    <a href="https://www.linkedin.com/in/lineisha-gibson"><i class="fa-brands fa-linkedin"></i> LinkedIn</a>
                    <a class="fa-brands fa-github" href="https://github.com/lejait05"><i ></i>GitHub </a>
                </div>
            </article>
        </div>
        <div class="col">
            <article class="card">
                <div class="card-body">
                    <img class="card-img" src="/img/Jesse.jpeg"/>
                    <h5 class="card-title mt-2"><strong> Jesse Mammosser </strong></h5>
                    <a href="https://www.linkedin.com/in/jesse-mammosser-969779237/"><i class="fa-brands fa-linkedin"></i> LinkedIn</a>
                    <a class="fa-brands fa-github" href="https://github.com/jessemamo"><i></i>GitHub </a>
                </div>
            </article>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/db7e223ec9.js" crossorigin="anonymous"></script>
    <th:block th:replace="partials/partials.html :: scripts"></th:block>
</main>
</body>
</html>
