<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head th:replace="partials/partials.html :: head(${user.username})"></head>

<body class="backStyle">
<header class=" d-none d-md-flex justify-content-between">
    <div class=" ms-4 py-2 fs-1 text-light">BudgetPros</div>
    <!--    <button class="h-50 me-3 mt-3">Currency Converter|V|</button>-->
</header>
<div class="d-sm-block d-md-none">
    <nav th:replace="partials/partials.html :: nav"></nav>
</div>
<!--<div class=" d-sm-block d-md-none ">-->
<!--    <button class="h-50 me-3 mt-3">Currency Converter|V|</button>-->
<!--</div>-->
<div class=" d-md-flex">
    <div class="d-none d-md-flex vh-100 col-md-2 ">
        <nav class="mt-1 w-100">
            <div class="ms-4 fs-2 my-3 text-decoration-underline text-light" th:text="${user.username}">Username</div>
            <div class="ms-4 mb-3"><a class="nav-link fs-2 text-light" href="/home">Home</a></div>
            <div class="ms-4 mb-3" sec:authorize="isAuthenticated()"><a class="nav-link fs-2 text-light" href="/goals">Goals</a>
            </div>
            <div class="ms-4 mb-3"><a class="nav-link fs-2 text-light" href="/about-us">About Us</a></div>
            <div class="ms-3 mb-3" sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" th:method="post">
                    <button class="border border-0 fs-2 text-light" style="background-color: #0C3666">Logout
                    </button>
                </form>
            </div>
        </nav>
    </div>
    <div class="container-fluid col-sm-12 col-md-10 h-50 pt-3 profileDisplay">
        <div class="container displayBlock">
            <div class="mb-2 mt-3 py-1"><h4 class="ms-3 mb-0">Account Balance: $<span th:text="${accountBalance}"></span>
            </h4></div>
            <hr>
            <div class="my-2 py-1 d-flex justify-content-between">
                <h4 class="ms-3 mb-0">Goals:</h4>
                <button type="button" class="me-3 bstyle" data-bs-toggle="modal" data-bs-target="#goalModal">
                    View
                </button>
            </div>
            <hr>
            <div class="my-2 py-1"><h4 class="ms-3 mb-0">Budget Expenses: $<span th:text="${budgetSum}"></span></h4>
            </div>
            <hr>
            <div class="my-2 py-1"><h4 class="ms-3 mb-0">Extra Expenses: $<span th:text="${extraSum}"></span></h4>
            </div>
        </div>
        <br>
        <div class="container d-flex justify-content-between align-items-baseline pt-2 transactionBlock">
            <div class="align-content-center">
                <form th:action="@{/profile}" th:method="get">
                    <select class="filterForm" name="sortTransaction" id="sortTransaction">
                        <option value="1">Newest to Oldest</option>
                        <option value="2">Oldest to Newest</option>
                        <option value="3">Budget Expenses</option>
                        <option value="4">Goal Contributions</option>
                    </select>
                    <button class="filterbtn">Filter</button>
                </form>
            </div>
            <h4 class="text-light mb-0 pt-1">Transaction History</h4>
            <button type="button" class="bstyle" data-bs-toggle="modal" data-bs-target="#createModal">Add
                Transaction
            </button>
        </div>
        <div class="container listBlock mb-5">
            <div id="transactionList" class=" mt-3" th:each="transaction: ${transactions}">
                <div
                        th:data-id="${transaction.id}"
                        th:data-title="${transaction.title}"
                        th:data-date="${#temporals.format(transaction.date, 'MMM-dd-yy')}"
                        th:data-amount="${transaction.amount}"
                        th:data-transactionType="${transaction.transactionType.id}"
                        th:data-memo="${transaction.memo}"
                        th:data-budgetCategory="${transaction.budgetCategories.id}"
                        th:data-goal="${transaction.goal}"
                        th:data-goalid="${(transaction.goal != null) ? transaction.goal.id : 'null'}"
                        class="transaction d-flex p-1">
                    <h5 class=" text-center w-25" th:text="${transaction.title}">Transaction Title</h5>
                    <h5 class=" text-center w-25" th:text="${#temporals.format(transaction.date, 'MMM-dd-yy')}">Date</h5>
                    <h5 class=" text-center w-25">$<span th:text="${transaction.amount}"></span></h5>
                    <h5 class=" text-center w-25" th:text="${transaction.transactionType.name}">Transaction Type</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal for creating transaction-->

<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-light" id="createModalLabel">New Transaction</h5>
                <button type="button" class="btn-close btn btn-outline-danger" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/transactions/create}" th:method="post" th:object="${transaction}">
                    <label for="title">Title</label>
                    <input th:field="*{title}" type="text" id="title" name="title" placeholder="Enter Title">
                    <hr>
                    <label for="amount">Amount</label>
                    <input th:field="*{amount}" type="number" step="any" id="amount" name="amount" placeholder="$0.00">
                    <hr>
                    <label for="memo">Transaction Details</label>
                    <textarea th:field="*{memo}" name="memo" id="memo" placeholder="Transaction Details"></textarea>
                    <hr>
                    <label for="transactionType">Transaction Type</label>
                    <select th:field="*{transactionType}" name="transactionType" id="transactionType">
                        <option value="1">one-time deposit</option>
                        <option value="2">one-time expense</option>
                        <option value="3">recurring income</option>
                        <option value="4">recurring expense</option>
                    </select>
                    <hr>
                    <label for="budgetCategories">Budget Category</label>
                    <select th:field="*{budgetCategories}" name="budgetCategories" id="budgetCategories">
                        <option value="1">none</option>
                        <option value="2">electrical</option>
                        <option value="3">mortgage</option>
                        <option value="4">gas</option>
                        <option value="5">fuel</option>
                        <option value="6">water</option>
                        <option value="7">loan</option>
                        <option value="8">groceries</option>
                    </select>
                    <hr>
                    <label for="createGoal">Goal</label>
                    <select name="createGoal" id="createGoal">
                        <option value="null">none</option>
                        <option th:each="goal: ${user.goals}" th:value="${goal.id}"><span
                                th:text="${goal.title}"></span></option>
                    </select>
                    <hr>
                    <button class="btn btn-primary">Add Transaction</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Modal for goal list view-->
<div>
    <div class="modal fade" id="goalModal" tabindex="-1" aria-labelledby="goalModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-light" id="goalModalLabel">Current Goals</h5>
                    <button type="button" class="btn-close btn btn-outline-danger" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div th:each="goal: ${user.goals}">
                        <div class="d-flex justify-content-between border p-1">
                            <h5 class="w-25" th:text="${goal.title}"></h5>
                            <h6 class="w-25">Current amount:$<span th:text="${goal.currentAmount}"></span></h6>
                            <h6 class="w-25">Goal amount:$<span th:text="${goal.goalAmount}"></span></h6>
                            <h6 class="w-25">End date:<span th:text="${goal.endDate}"></span></h6>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Modal for individual transactions triggered by click on transaction event listener-->

<div>
    <div class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-light">Transaction</h5>
                    <button type="button" class="eventClose btn-close btn btn-outline-danger" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="detailsForm" th:action="@{/transactions//edit}" th:method="post"
                          th:object="${transaction}">
                        <label for="title">Title</label>
                        <input th:field="*{title}" type="text" id="detailsTitle" name="title">
                        <hr>
                        <label for="amount">Amount</label>
                        <input th:field="*{amount}" type="number" step="any" id="detailsAmount" name="amount">
                        <hr>
                        <label for="memo">Transaction Details</label>
                        <textarea th:field="*{memo}" name="memo" id="detailsMemo"></textarea>
                        <hr>
                        <label for="transactionType">Transaction Type</label>
                        <select th:field="*{transactionType}" name="transactionType" id="detailsTransactionType">
                            <option value="1">one-time deposit</option>
                            <option value="2">one-time expense</option>
                            <option value="3">recurring income</option>
                            <option value="4">recurring expense</option>
                        </select>
                        <hr>
                        <label for="budgetCategories">Budget Category</label>
                        <select th:field="*{budgetCategories}" name="budgetCategories" id="detailsBudgetCategories">
                            <option value="1">none</option>
                            <option value="2">electrical</option>
                            <option value="3">mortgage</option>
                            <option value="4">gas</option>
                            <option value="5">fuel</option>
                            <option value="6">water</option>
                            <option value="7">loan</option>
                            <option value="8">groceries</option>
                        </select>
                        <hr>
                        <label for="detailsGoal">Goal</label>
                        <select name="detailsGoal" id="detailsGoal">
                            <option value="null">none</option>
                            <option th:each="goal: ${user.goals}" th:value="${goal.id}"><span
                                    th:text="${goal.title}"></span></option>
                        </select>
                        <hr>
                        <div class="d-grid">
                            <button class="btn btn-block btn-primary">Edit</button>
                        </div>

                    </form>
                    <div class="d-flex mt-2">
                        <div>
                            <button type="button" class="eventClose btn btn-secondary" data-bs-dismiss="modal">Close
                            </button>
                        </div>
                        <div class="ms-auto">
                            <form th:action="@{/transactions//delete}" th:method="post">
                                <button id="deletebtn" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<block th:replace="partials/partials.html :: scripts"></block>
<script src="/jquery-3.6.0.js"></script>
<script>
    <!--  event listener for individual modal  -->
    $(".transaction").click(function () {
        $(".modal").css("display", "block")
        $("#detailsForm").attr("action", "/transactions/" + $(this).data("id") + "/edit");
        $("#deletebtn").parent().attr("action", "/transactions/" + $(this).data("id") + "/delete")
        $("#detailsTitle").attr("value", $(this).data("title"))
        $("#detailsAmount").attr("value", $(this).data("amount"))
        $("#detailsMemo").val($(this).data("memo"))
        $("#detailsTransactionType").val($(this).data("transactiontype"))
        $("#detailsBudgetCategories").val($(this).data("budgetcategory"))
        $("#detailsGoal").val(String($(this).data("goalid")))

    })
    //event listener to close individual transaction view modal
    $(".eventClose").click(function () {
        $(".modal").css("display", "none");
    })


</script>
</body>
</html>