<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/partials.html :: head('Profile')"></head>
<body style="background-color: lightsteelblue">
<header class=" d-flex justify-content-between" style="background-color: steelblue">
    <div class="ms-3 py-2 fs-2">BudgetPros</div>
    <button class="h-50 me-3 mt-3">Currency Converter|V|</button>
</header>
<br>
<div class="d-md-flex">
    <div class="d-md-flex vh-100 col-md-2 col-sm-12">
<!--        <nav th:replace="partials/partials.html :: nav"></nav>-->
        <nav class="mt-1 w-100" style="background-color: steelblue">
            <div class="ms-3 fs-3 my-3">Username</div>
            <div class="ms-3 mb-3"><a class="fs-3" href="/">Goals</a></div>
            <div class="ms-3 mb-3"><a class="fs-3" href="/">About Us</a></div>
            <div class="ms-3 mb-3"><a class="fs-3" href="/">Logout</a></div>
        </nav>
    </div>
    <div class="col-md-9 col-sm-12 h-50">
        <div class="container">
            <div class="border my-3 py-2"><h4 class="ms-3">Account Balance: $5000</h4></div>
            <div class="border my-3 py-2"><h4 class="ms-3">Goals:</h4></div>
            <div class="border my-3 py-2"><h4 class="ms-3">Spending Money: $1300</h4></div>
            <div class="border my-3 py-2"><h4 class="ms-3">Budget Status: Amount / $2300</h4></div>
        </div>
        <br>
        <div class="container d-flex justify-content-between">
            <button id="filterbtn">Filter Transactions</button>
            <h4>Transaction History</h4>
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#createModal">Add Transaction</button>
        </div>
        <div class="container mt-3">
            <div class="d-flex justify-content-between border p-1" th:each="transaction: ${transactions}">
                <h5 th:text="${transaction.title}">Transaction Title</h5>
                <h5 th:text="${#temporals.format(transaction.date, 'MMM-dd-yy')}">Date</h5>
                <h5 th:text="${transaction.amount}">$150.00</h5>
                <h5 th:text="${transaction.transactionType.name}">Transaction Type</h5>
            </div>
        </div>
    </div>
</div>
<!--&lt;!&ndash; Button trigger modal &ndash;&gt;-->
<!--<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">-->
<!--    Launch demo modal-->
<!--</button>-->

<!-- Modal -->
<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createModalLabel">New Transaction</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/transactions/create}" th:method="post" th:object="${transaction}">
                    <label for="title">Title</label>
                    <input th:field="*{title}" type="text" id="title" name="title" placeholder="Enter Title">
                    <hr>
                    <label for="amount">Amount</label>
                    <input th:field="*{amount}" type="number" id="amount" name="amount" placeholder="$0.00">
                    <hr>
                    <label for="memo">Transaction Details</label>
                    <textarea th:field="*{memo}" name="memo" id="memo" placeholder="Transaction Details"></textarea>
                    <hr>
                    <label for="transactionType">Transaction Type</label>
                    <select th:field="*{transactionType}" name="transactionType" id="transactionType">
                        <option value="1">one-time deposit</option>
                        <option value="2">one-time expense</option>
                        <option value="3">recurring income</option>
                        <option value="4">recurring expense</option>
                    </select>
                    <hr>
                    <label for="budgetCategories">Budget Category</label>
                    <select th:field="*{budgetCategories}" name="budgetCategories" id="budgetCategories">
                        <option value="1">none</option>
                        <option value="2">electrical</option>
                        <option value="3">mortgage</option>
                        <option value="4">gas</option>
                        <option value="5">fuel</option>
                        <option value="6">water</option>
                        <option value="7">loan</option>
                        <option value="8">groceries</option>
                    </select>
                    <hr>
                    <button class="btn btn-primary">Add Transaction</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </form>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>
</html>